<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<p> Hello, <span th:text="${name}">!</span></p>
<p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas vestibulum dignissim malesuada.
</p>
<img src="https://media.contentapi.ea.com/content/dam/ea/need-for-speed-unbound/common/vol-9/vol-9-blog/nfs-vol09-heroart-1920x1080-text-1.jpg.adapt.crop16x9.1023w.jpg"
     alt="Random Image"
     width="500"
     height="500"
     style="display: block; margin-left: auto; margin-right: auto;" />
</body>
</html>
